@{
    ViewData["Title"] = "Home Page";
}



<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">SOLUTIONS</a></li>
            <li><a href="#">CLIENTS</a></li>
            <li><a href="#">SUPPORT</a></li>
            <li><a href="#">CAREER</a></li>
            <li><a href="#">GALLERY</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>
</nav>


        

